.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.description p:last-child {
  margin-left: 16px;
}

.navigation {
  width: 10.55px;
  height: 12.53px;
  padding: 10px;
  background: #6e707a;
  border-radius: 30px;
}
