.app-container {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #e7e7eb;
}

.proxy-message {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.1em;
  background: #e2c244;
}

.proxy-message h2 {
  font-size: 20px;
  margin: 0 0 10px 0;
  font-weight: bold;
}

.proxy-message ol {
  list-style: auto;
  padding: 0 0 0 20px;
  margin: 0 0 20px 0;
}

.proxy-message a {
  color: blue;
}

.proxy-message strong {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .app-container {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .app-container {
    display: block;
  }
}
