.cloud-container {
  width: 150px;
  height: 90px;
  position: relative;
  display: block;
}

.cloud-bar {
  top: 55%;
  right: 20%;
  left: 20%;
  bottom: 10%;
  transform: scale(1);
}

.cloud {
  border-radius: 50%;
}

.cloud-bar,
.cloud {
  display: block;
  position: absolute;
  background: rgb(247, 243, 243);
  animation: pulse 6s ease 0s infinite;
}

.cloud-circle-0 {
  height: 100%;
  right: -20%;
  left: 80%;
}

.cloud-circle-1 {
  bottom: 50%;
  right: 0;
  top: -50%;
  left: 70%;
}

.cloud-circle-2 {
  bottom: 5%;
  left: 0;
  top: -90%;
  right: 25%;
}

.cloud-circle-3 {
  bottom: 0;
  left: -20%;
  top: -10%;
  right: 80%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
